/toolchain/gcc-arm-none-eabi-4.8.3-2014q1
*.o
*.hex
*.map
*.d
*.elf
*.a
.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
.DS_Store
android/app/build
android/build
android/app/src/main/libs
android/app/src/main/obj
rfdroid/build
rfdroid/app/build
rfduino-build/*.o
rfduino-build/*.d
android/signing.properties
