/toolchain/gcc-arm-none-eabi-4.8.3-2014q1
*.o
*.hex
*.map
*.d
*.elf
*.a
.gradle
android-app/local.properties
android-app/.idea/workspace.xml
android-app/.idea/libraries
.DS_Store
android-app/app/build
android-app/build
android-app/app/src/main/libs
android-app/app/src/main/obj
rfdroid/build
rfdroid/app/build
rfduino-build/*.o
rfduino-build/*.d

